{
  "extends": "airbnb",
  "parser": "babel-eslint", // Allows use of es7 features
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "max-len": ["error", 150, 2, {
      "ignoreUrls": true,
      "ignoreComments": false,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "no-underscore-dangle": "off",
    "react/jsx-filename-extension": "off",
    "react/no-danger": "off",
    "react/react-in-jsx-scope": "off",
    "no-use-before-define": [ "error", { "functions": false, "classes": false }],
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off"
  }
}
